:root {
  --main-color: rgb(85, 181, 124);
  --border-radius: 5px;
  --border-style: 0.5px solid gray;
}

input,
button,
select,
textarea {
  font: inherit;
}

.formContainer {
  padding: 20px;
  box-shadow: 0 0 5px rgb(58, 57, 57);
  margin: 10px auto;
  max-width: 500px;
  min-width: 320px;
  width: 100%;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.imageWrapper {
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerImg {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.formHeader {
  font-weight: 300;
  letter-spacing: -1px;
}

.loginForm {
  display: grid;
  gap: 1rem;
}

.label {
  display: grid;
  gap: 0.5rem;
  text-align: left;
}

.inputName {
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: bold;
  letter-spacing: 1px;
}

.input {
  border-radius: var(--border-radius);
  padding: 10px;
  border: var(--border-style);
}

.passwordContainer {
  display: flex;
  align-items: center;
  background: white;
  border: var(--border-style);;
  border-radius: var(--border-radius);
  padding: 0;
  position: relative;
}

.passwordContainer input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: var(--border-radius);
}

.showPassword {
  border: none;
  background-color: transparent;
  color: grey;
  cursor: pointer;
}

.checkboxField {
  display: flex;
  gap: 1ch;
  flex-wrap: wrap;
}

.checkbox {
  accent-color: var(--main-color);
}

.checkboxText {
  letter-spacing: -0.5px;
}

.submitBtn {
  padding: 10px;
  border-radius: var(--border-radius);
  border: 0.5px solid gray;
  background-color: var(--main-color);
}

.signInText {
    text-align: left;
    width: 100%;
    padding-left: 20px;
}

.signInText a {
    text-decoration: none;
    color: var(--main-color);
}


.inputValid {
  box-shadow: 0 0 5px green;
  width: 100%;
}

.inputInvalid {
  box-shadow: 0 0 5px red;
  width: 100%;
}